####################################################################################################
# Helper package for git hooks.
# https://github.com/flex-is/git-hooks/
# v0.1.0
#
# (c) Martin Miskovic <miskovic.martin@gmail.com>
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.
####################################################################################################
